.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: #53d16c;
  width: 100%;
  top: 0;
  left: 0;
}

.header-title {
  font-family: "Chameleon", "Pacifico", Cambria;
  font-size: 3rem;
}
