.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  width: 100%;
  max-width: 150rem;
  height: calc(100vh - 4rem);
  padding: 4rem;
  margin: 0 auto;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: $color-text;
}

.intro-title {
  font-family: "SimplePlan";
  font-size: 2.75rem;
  z-index: 5;
}

.intro-title-underline {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 0.5rem);
    height: 1rem;
    background: linear-gradient(
      90deg,
      rgba($color-primary, 0.6) 25%, 
      rgba($color-primary-highlight, 0.6) 40%, 
      rgba($color-secondary-highlight, 0.6) 80%, 
      rgba($color-secondary, 0.6) 100%
    );
    border-radius: 2px;
    bottom: 0.35rem;
    left: -0.25rem; // adjust for width
    z-index: -1;
  }
}

.intro-text {
  font-family: "SimplePlan";
  font-size: 2rem;
}

.intro-hr {
  display: none;
}

.intro-img-container {
  font-family: "SimplePlan";
}

.intro-img-text {
  font-size: 2.25rem;
  color: $color-text;
  
  &:last-of-type {
    text-align: right;
  }
}

.intro-text-green {
  color: $color-primary;
  font-weight: bold;
  font-size: inherit;
}

.intro-text-blue {
  color: $color-secondary;
  font-weight: bold;
  font-size: inherit;
}

.intro-img {
  display: block;
  width: 35rem;
  height: fit-content;
}
