.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: calc(100% - 6rem);
  max-width: 150rem;
  height: calc(100vh - 6rem);
  padding: 1rem 3rem;
  margin: 0 auto;
}

.intro-text-container {
  color: $color-text;
}

.intro-title {
  font-family: "SimplePlan";
  font-size: 2.25rem;
}

.intro-text {
  font-family: "SimplePlan";
  font-size: 1.75rem;
  margin-top: 2rem;
}

.intro-img-container {
  font-family: "SimplePlan";
  font-size: 2rem;
}

.intro-img-text {
  color: $color-text;
  
  &:last-of-type {
    text-align: right;
  }
}

.intro-text-green {
  color: $color-primary;
  font-weight: bold;
  font-size: 2rem;
}

.intro-text-blue {
  color: $color-secondary;
  font-weight: bold;
  font-size: 2rem;
}

.intro-img {
  width: 32rem;
  // width: 40rem;
  height: fit-content;
}
