@font-face {
  font-family: "SimplePlan";
  src: url("../fonts/Simple\ Plan.otf") format("opentype");
}

// Colors
$color-primary: #60C984;
$color-primary-highlight: #58ff82;

$color-secondary: #1483de;
$color-secondary-highlight: #53b2ff;

$color-text: rgb(4, 42, 4);
