@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lora:wght@400;500;600;700&family=Pacifico&family=Roboto&display=swap');

@font-face {
  font-family: "Chameleon";
  src: url("../fonts/Chameleon.ttf") format("truetype");
}

@font-face {
  font-family: "SimplePlan";
  src: url("../fonts/Simple\ Plan.otf") format("opentype");
}
